#field {
	width: 200px;
	height: 150px;
	position: relative;
	border: 8px solid black;
	background-color: lightgreen;
}

#ball {
	position: absolute;
	left: 0;
	top: 0;
	transition: 1s all;
}

/*  */

.menu ul {
	margin: 0;
	list-style: none;
	padding-left: 20px;
	display: none;
}

.menu .title {
	font-size: 18px;
	cursor: pointer;
}

.menu .title::before {
	content: '▶ ';
	font-size: 80%;
	color: green;
}

.menu.open .title::before {
	content: '▼ ';
}

.menu.open ul {
	display: block;
}

/*  */

h3 {
	margin: 0;
	padding-bottom: 0.3em;
	padding-right: 20px;
	font-size: 1.1em;
}

p {
	margin: 0;
	padding: 0 0 0.5em;
}

.pane {
	background: #edf5e1;
	padding: 10px 20px 10px;
	border-top: solid 2px #c4df9b;
	position: relative;
}

.remove-button {
	position: absolute;
	font-size: 110%;
	top: 0;
	color: darkred;
	right: 10px;
	display: block;
	width: 24px;
	height: 24px;
	border: none;
	background: transparent;
	cursor: pointer;
}

/*  */

.carousel {
	position: relative;
	width: 398px;
	padding: 10px 40px;
	border: 1px solid #ccc;
	border-radius: 15px;
	background: #eee;
}

.carousel img {
	width: 130px;
	height: 130px;
	/* делаем этот элемент блочным, чтобы убрать лишнее пространство вокруг картинок */
	display: block;
}

.arrow {
	position: absolute;
	top: 60px;
	padding: 0;
	background: #ddd;
	border-radius: 15px;
	border: 1px solid gray;
	font-size: 24px;
	line-height: 24px;
	color: #444;
	display: block;
}

.arrow:focus {
	outline: none;
}

.arrow:hover {
	background: #ccc;
	cursor: pointer;
}

.prev {
	left: 7px;
}

.next {
	right: 7px;
}

.gallery {
	width: 390px;
	overflow: hidden;
}

.gallery ul {
	height: 130px;
	width: 9999px;
	margin: 0;
	padding: 0;
	list-style: none;
	transition: margin-left 250ms;
	font-size: 0;
}

.gallery li {
	display: inline-block;
}
